{% extends 'base.html.twig' %}
{#{% block keywords %}{{ keywords }}{% endblock %}
{% block description %}{{ description }}{% endblock %}#}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <h1>Mapa policejních radarů v České republice</h1>
    <p>&nbsp;Vítejte na stránkách! Podělte se s ostatními řidiči o informace, kde se měří rychlost. Stačí nám napsat na <a href="mailto:info@ridicskeinfo.cz">info@ridicskeinfo.cz</a></p>

    <h2 style="margin-top: 40px;">Kde se měří</h2>
    <div id="map" class="img img-rounded"></div>
    <div class="help">
        <p>Sdílejte místa, kde se měří. Napište nám na <a href="mailto:info@ridicskeinfo.cz">info@ridicskeinfo.cz</a> a my budeme varovat ostatní řidiče.
            Děkujeme za spolupráci!</p>
    </div>
{% endblock %}
